{% extends "home/template.html.twig" %}

{% block title %}
	Trash | Bin
{% endblock %}

{% block pageTitle %}{% endblock %}

{% block body %}
	<div class=" bg-white mt-3 ms-0 px-5 py-2 ms-5 me-5 overflow-scroll rounded-2 " style="min-height:700px;">


		<h2 class="">My trash folder list</h2><hr>


		<div class="row row-cols-2">
			{% for folder in trashlist %}


				<div class="col-2 m-1">
					<button class="bg-white" data-bs-toggle="modal" data-bs-target="#folder{{folder.id}}">
						<img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40"/>
						<div class="ml-2">
							<h6 class="mb-0"style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">{{folder.name }}</h6>
						</div>
					</button>

				</div>

				<div id="folder{{folder.id}}" class="modal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title"style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">{{folder.name }}</h5>
								<button class="btn-close" data-bs-dismiss="modal"></button>
							</div>


							<div class="modal-footer">
								<a class="btn btn-primary" href="{{path('restore.trash',{'id':folder.id}) }}">restore</a>
								<a class="btn btn-danger" href="{{path('folder.delete_from_trash',{'id':folder.id}) }}">delete</a>

							</div>

						</div>

					</div>

				</div>
			{% endfor %}
      	
      {% for Document in trashlistdoc %}

				<div class="col-2 m-1">
					<button class="bg-white" data-bs-toggle="modal" data-bs-target="#doc{{Document.id}}">
						<img src="https://img.icons8.com/color/100/000000/document.png" width="40"/>
						<div class="ml-2">
							<h6 class="mb-0" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">{{Document.name}}</h6>
						</div>
					</button>

				</div>

				<div id="doc{{Document.id}}" class="modal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title"style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">{{Document.name}}</h5>
								<button class="btn-close" data-bs-dismiss="modal"></button>
							</div>


							<div class="modal-footer">
								<a class="btn btn-primary" href="{{path('Doc.restore.trash',{'id':Document.id}) }}">restore</a>
								<a class="btn btn-danger" href="{{path('Doc.delete_from_trash',{'id':Document.id}) }}">delete</a>

							</div>

						</div>

					</div>

				</div>
			{% endfor %}
		</div>
	</div>

{% endblock  %}

{% block sd %}
	<div class="sidebar-body">
		<ul class="sidebar-body-menu">
			<li>
				<a href="{{path('app.home') }}" class="sidebar-icon">
					<span class="icon home" aria-hidden="true"></span>Dashboard</a>
			</li>
			<li>
				<a class="show-cat-btn active" href="##">
					<span class="icon folder " aria-hidden="true"></span>Folders
					<span class="category__btn transparent-btn" title="Open list">
						<span class="sr-only">Open list</span>
						<span class="icon arrow-down" aria-hidden="true"></span>
					</span>
				</a>
				<ul class="cat-sub-menu">
					<li>

						<a href="{{path('folder.treeView') }}">
							<i class="fa fa-folder-open me-3" aria-hidden="true"></i>Folders</a>

						<a href="{{path('trash.list') }}">
							<i class="fa fa-trash me-3" aria-hidden="true"></i>My trash</a>

					</li>

				</ul>
			</li>
			<li>
                {% if is_granted('ROLE_upload') or is_granted('ROLE_classify') %}

                  <a class="show-cat-btn" href="##">
                    <span class="icon " aria-hidden="true"> <i class="fa-solid fa-inbox" style="font-size: x-large;"></i></span>
                    Classify                    										
                    <span class="category__btn transparent-btn" title="Open list">
                      <span class="sr-only">
                        Open list
                      </span>
                      <span class="icon arrow-down" aria-hidden="true"></span>
                    </span>
                  </a>
                  <ul class="cat-sub-menu">
                    <li>
                    {% if is_granted('ROLE_classify') %}
                      <a href="{{ path('app_classify') }}">
                        <i class="fa-solid fa-box-open me-1" aria-hidden="true"></i>
                        CLassify Docs
                      </a>
                    {% endif %}
                    {% if is_granted('ROLE_upload') %}
                      <a href="{{ path('app_upload') }}">
                      <i class="fa-solid fa-cloud-arrow-up me-1"aria-hidden="true"></i>
                       Upload Docs
                      </a>
                    {% endif %}
                    </li>
                  </ul>
                {% endif %}
                </li>


                <li>
                {% if is_granted('ROLE_manage_users') or is_granted('ROLE_create_groups') %}
                  <a class="show-cat-btn" href="##">
                    <span class="icon setting" aria-hidden="true"></span>
                    Settings
                    										
                    <span class="category__btn transparent-btn" title="Open list">
                      <span class="sr-only">
                        Open list
                      </span>
                      <span class="icon arrow-down" aria-hidden="true"></span>
                    </span>
                  </a>
                  <ul class="cat-sub-menu">
                    <li>
                      {% if is_granted('ROLE_manage_users') %}
                        <a href="{{ path('app_usersList') }}">
                          <i class="fa-solid fa-user me-4" aria-hidden="true"></i>
                          </i> Users
                         </a>
                      {% endif %}
                      {% if is_granted('ROLE_manage_groups') %}
                        <a href="{{ path('app_groupList') }}">
                          <i class="fa-solid fa-users me-3" aria-hidden="true"></i>
                          All groups
                        </a>
                      {% endif %}
                      {% if is_granted('ROLE_create_groups') %}
                        <a href="{{ path('app_groupMyList') }}">
                          <i class="fa-solid fa-users me-3" aria-hidden="true"></i>
                          My groups
                        </a>
                      {% endif %}
                     </li>
                    </ul>
                {% endif %}
                </li>
	</ul>
</li></ul></div>{% endblock %}